extends layout

block content
    h1= title
    h2 MongoDB + Express + Node.js gone Serverless!!

    // Wrapper
    #wrapper

        // customer LIST
        #customerList
            table
                thead
                    th First Name
                    th Last Name
                    th Email
                    th Total Policies
                    th Details
                tbody
        // /customer LIST

    // /WRAPPER
